body {
	padding: 0;
	margin: 0;	
	font-family: Arial;
	background-image: url(https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg);
	background-origin: padding-box;
	background-size: cover; 
	background-repeat: repeat-y;
	background-attachment: fixed;

}
div.position {
	margin: 0 auto;
	width: 1260px;
}
h1,h2 {
	text-align: inherit;
}

.center, .hpg1, .hpg2 {
	text-align: center;
}
.legend{ 
	line-height: 0%;
	font-size: 82%;
}
.content {
	box-shadow:0 2px 4px 0 #00000029,0 2px 10px 0 #0000001f;
	text-align: center;
	padding: 50px 15px;
	margin-bottom: 368px;
}

/* Begining Headers */
nav {
	background-color: darkblue	;
	box-shadow:0 4px 8px 0 #00000029,0 4px 20px 0 #0000001f;
	display: inline-block;
	width: 100%;
	height: 40px;
}
a {
	color: crimson;
	text-decoration: none;
	padding: 0 auto;
	margin: 0 auto;
	display: table-cell;	
}
.headers {
	padding: 20px 0 20px 0;
	margin-bottom:35px;
	line-height: 40%;
}
.header1,.header2{
	display: table;
	box-shadow:0 2px 4px 0 #00000029,0 2px 10px 0 #0000001f;
	color: white;	
	font-weight:lighter;
}
.header1{
	text-align:left;
	background-color: crimson;
}
.header2{
	float: right;
	background-color: lightblue;
}
/* End Header */

/* Beginning HomePage styles*/

.hpg1,.hpg2,.hpg3,.hpg4,.hpg5{
	box-shadow:0 2px 4px 0 #00000029,0 2px 10px 0 #0000001f;
	border:1px solid #A4A4A4;
	text-transform:uppercase;
}
.hpg3,.hpg4,.hpg5{
	display: inline-table;
	font-size: 1.1rem;
	font-weight:lighter;
	margin: 2.5rem 0.5rem 0 0.5rem;
	padding: 0.8rem;
	background-color:white;
}
.hpg1{
	font-weight:lighter;
	font-size: 1.5rem;
	margin: 0.8rem 27.5rem 2rem 27.5rem;
	padding: 0.2rem 0;
}
.hpg2{
	margin:4.5rem 12rem 4rem 12rem;
	padding:50px 20px;
	font-size:1.8rem;
}
.hpg4{
	float: right;
}
.hpg5{
	font-weight:lighter;
	line-height: 0%;
	display: table !important;
	padding-top: 1.3rem !important;
}
/* EndHomePage styles*/

