body {
	padding: 0;
	margin: 0;	
	font-family: Arial;
	background-image: url(https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg);
	background-origin: border-box;
	background-size: cover;
	background-repeat: repeat;
}
body.first_page {
	background-image: url(https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg);
	background-origin: border-box;
	background-size: cover;
	background-repeat: repeat;
}
.center, h2, h1 {
	text-align: center;
}
.legend{ 
	line-height: 0%;
	font-size: 82%;
}
.font-inherit {
	font-size: inherit
}

/* Beginning HomePage styles*/
div.position {
	margin: 0 auto;
	width: 1280px;
}

.hpg1,.hpg2,.hpg3,.hpg4,.hpg5{
	box-shadow:0 2px 4px 0 #00000029,0 2px 10px 0 #0000001f;
	border:1px solid #A4A4A4;
	text-transform:uppercase;
	position: inherit; 
}
.hpg3,.hpg4,.hpg5{
	display: inline-table;
	font-size: 1.1rem;
	font-weight:lighter;
	margin: 2.5rem 0.5rem 0 0.5rem;
	padding: 0.8rem;
	background-color:white;
}
.hpg1{
	font-weight:lighter;
	font-size: 1.5rem;
	margin: 1.05rem 27.5rem 2rem 27.5rem;
	padding: 0.2rem 0;
}
.hpg2{
	margin:4.5rem 12rem;
	padding:50px 20px;
	font-size:1.8rem;
}
.hpg4{
	float: right;
	background-position: top;
}
.hpg5{
	font-weight:lighter;
	line-height: 0%;
	display: table !important;
	padding-top: 1.3rem !important;
}
/* EndHomePage styles*/

